@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#mainbody { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

a {
    color:inherit;
    text-decoration: none;
}

#blogname {
    text-align: center;
    margin-bottom: 50px;

}

#pagewrap {
	padding: 5px;
	width: 100%;
	margin: 20px auto;
}

#contentwrapper {
    margin-bottom: 60px;
}

#posttext {
	margin-bottom: 10px;
}

hr {
	width: 20%; !important;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

#content {
	width: 30%;
	float: left;
}

#middle {
	width: 40%;
	float: left;
    margin-bottom: 50px;
    text-align: center;
}

#sidebar-primary {
    text-align: center;

}

#aside {
    border-right: 1px solid black;
    margin-right: -1px;
    text-align: center;

}

.sidebar {
	text-align: center;

}

#sidebar {
	text-align: center;
	width: 33.3333333%;
	float: left;
}

#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}
